<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.beanshell.rbac.mapper.RbacRoleMapper">


    <select id="findUserRoleCode" resultType="java.lang.String">
        select
            role_code
        from
            tb_rbac_role
        where
            id in (
                select
                    role_id
                from
                    tb_rbac_role_user
                where
                    user_id = #{userId}
            )
        order by
            role_code asc
    </select>
    <select id="findUserPermissionCode" resultType="java.lang.String">
        SELECT
            p.permission_code
        FROM
            (   SELECT
                    DISTINCT ( permission_id )
                FROM
                    tb_rbac_role_permission
                WHERE
                    role_id IN (    SELECT
                                        role_id
                                    FROM
                                        tb_rbac_role_user
                                    WHERE
                                        user_id = #{userId}
                    )
            ) r
        LEFT JOIN
            tb_rbac_permission p ON r.permission_id = p.id
        WHERE
            1 = 1
        ORDER BY
            permission_code ASC
    </select>
    <select id="findRolePermission" resultType="top.beanshell.rbac.model.dto.RbacRolePermissionCheckedDTO">
        SELECT
            p.*,
            IF( isnull( rp.permission_id ), FALSE, TRUE ) AS checked
        FROM
            tb_rbac_permission p
        LEFT JOIN
            tb_rbac_role_permission rp ON p.id = rp.permission_id
        AND
            rp.role_id = #{roleId}
        WHERE
            1 = 1
        AND
            p.permission_type = #{permissionType}
    </select>
    <select id="authRolePage" resultType="top.beanshell.rbac.model.dto.RbacRoleUserCheckedDTO">
        SELECT * FROM (
            SELECT
                r.*,IF( ISNULL( ru.user_id ), FALSE, TRUE ) AS checked
            FROM
                tb_rbac_role r
            LEFT JOIN
                tb_rbac_role_user ru
            ON
                ru.role_id = r.id
            AND
                ru.user_id = #{params.userId}
        ) t
        WHERE
            1 = 1
        <if test="params.roleCode != null">
            AND t.role_code like concat(#{params.roleCode}, '%')
        </if>
        <if test="params.roleName != null">
            AND t.role_Name like concat(#{params.roleName}, '%')
        </if>
        <if test="params.checked != null">
            AND t.checked = #{params.checked}
        </if>
    </select>
</mapper>